<h1>Hot Weather Widget</h1>
<div class="element">
		<div class="element-left">
			<div class="element-bg-img">
				<img src="{{ selectedHotel.picture }}" alt="" class="img-responsive">
			</div>
			<div class="element-left-bottom">
				<div class="ele-strip">
					<ul>
						<li><a href="#" [attr.data-stars]="" (click)="starsFilter($event)">Reset</a></li>
						<li><a href="#"   [attr.data-stars]="3" (click)="starsFilter($event)">3 STARS</a></li>
						<li><a href="#"  [attr.data-stars]="4" (click)="starsFilter($event)">4 STARS</a></li>
						<li><a href="#" [attr.data-stars]="5" (click)="starsFilter($event)">5 STARS</a></li>
					</ul>
				</div>
				<div class="village">
				  <h3>Righteous indignation & like</h3>
				  <span class="line"> </span>
				  <div class="activity_box">
					<div class="scrollbar" id="style-2">
					  <app-list *ngFor="let hotel of hotels | filterHotel:hotelStar; let i = index" [hotelItem]="hotel" (hotelSelected)="selectHotel(hotel)" (favoriteSelected)="addToFavorite(hotel)" [activeClass]="selectedHotel.id === i"></app-list>
					</div>
				  </div>
			   </div>
		</div>
	   </div>
		<div class="element-right">
			<app-weather [hotelItem]="selectedHotel.weather"></app-weather>
			<app-profile [hotelItem]="selectedHotel.profile"></app-profile>
			<app-favorites [hotelItem]="favoriteHotelsList"></app-favorites>
		</div>
	  <div class="clear"> </div>
</div>
<div class="copy-right">
    <p>© 2015 Hot Weather Widget. All rights reserved | Design by  <a href="http://w3layouts.com/" target="_blank">  W3layouts </a></p>
</div>
