<h1>Hot Weather Widget</h1>
<div class="element">
		<div class="element-left">
			<input type="text" class="hotel-search" placeholder="Find hotel" [(ngModel)]="searchInputText">

			<div class="element-bg-img">
				<img src="{{ selectedHotel?.picture }}" alt="" class="img-responsive">
			</div>
			<div class="element-left-bottom">
				<div class="ele-strip">
					<ul>
						<li *ngFor="let star of stars" (click)='starsFilter(star.value)'>{{ star?.title }}</li>
					</ul>
				</div>
				<div class="village">
				  <h3>Righteous indignation & like</h3>
				  <span class="line"></span>
				  <div class="activity_box">
					<app-list *ngFor="let hotel of hotels | filterHotel:hotelStar : searchInputText; let i = index" [hotelItem]="hotel" (hotelSelected)="selectHotel(hotel)" (favoriteSelected)="addToFavorite(hotel)" [activeClass]="selectedHotel.id === i" [ngStyle]="{'width' : '25%'}"></app-list>
				  </div>
			    </div>
				<mat-paginator [length]="hotels.length"
							   [pageSize]="2"
							   (page)="changePage($event)">
				</mat-paginator>
			</div>
	   </div>
		<div class="element-right">
			<app-weather [hotelItem]="selectedHotel"></app-weather>
			<app-profile [hotelItem]="selectedHotel"></app-profile>
			<app-favorites [hotelItem]="favoriteHotelsList"></app-favorites>
		</div>
	  <div class="clear"> </div>
</div>
<div class="copy-right">
    <p>© 2015 Hot Weather Widget. All rights reserved | Design by  <a href="http://w3layouts.com/" target="_blank">  W3layouts </a></p>
</div>
